
.formControl.error textarea,
.formControl.error input
{
    border: 1px solid red;
}

.formControl.error span{
    color: #FF0000FF;
    font-size: 16px;
    opacity: .8;
}
.formSummaryError{
    width:20%;
    border: red 1px solid;
    padding: 5px;
    color: #dc1e1e;
}